* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(227 243 255);
  color: #269;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
}

h1 {
  margin: 4rem 0;
  font-size: 2.6rem;
}

.links {
  width: 100%;
  max-width: 400px;
}

.links a {
  display: block;
  text-decoration: none;
  border-radius: 80px;
  background-color: #269;
  margin-bottom: 1rem;
  padding: 1rem;
  color: white;
  font-size: 1.1rem;
}

.links a:hover {
  filter: brightness(1.2);
}

.image {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}
.title {
  font-size: 1.4rem;
  margin: 1rem;
}

.abstract {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
